<div class="container-fluid">
  <div class="col-10 col-md-6 offset-1 offset-md-3">
    <div class="row text-center">
      <div class="col-6 col-md-2 order-6 order-md-1 my-auto">
        <button
          class="btn btn-sm btn-dark btn-default text-shadow shadow rounded"
          (click)="exitLoad()"
          ngbTooltip="Return to Menu"
          tooltipClass="sudoku-tooltip"
          placement="bottom"
          type="button">Exit</button>
      </div>
      <div class="col-12 col-md-8 order-1 order-md-6 mt-2 mb-3">
        <span class="h1">SuDoKu ExTrEme</span>
      </div>
      <div class="col-6 col-md-2 order-12 my-auto">
        <div class="btn-group btn-group-sm d-sm-inline-block">
          <button
            class="btn btn-success text-shadow shadow"
            [disabled]="!key"
            (click)="loadGame()"
            ngbTooltip="Load Game"
            tooltipClass="sudoku-tooltip"
            placement="bottom"
            type="button"><span class="fa fa-upload"></span></button>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Paste your save game key into the textarea below and press the green button to load your saved game.
          <br/>
          <br/>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <textarea class="rounded w-100 p-2" [(ngModel)]="key"></textarea>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Invalid Save Game Key</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">{{ getErrorMessage() }}</label>
        <div class="input-group"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Exit click')">Close</button>
  </div>
</ng-template>