<div *ngIf="board3" class="panel-wrapper">
    <sudoku-sidepanel-board
        [active]="activeSidepanelIndex === 0"
        [board]="board1"
        [level]="level"
        [boardRegistryIndex]="boardRegistryIndex"></sudoku-sidepanel-board>

    <sudoku-sidepanel-board
        [active]="activeSidepanelIndex === 1"
        [board]="board2"
        [level]="level"
        [boardRegistryIndex]="boardRegistryIndex + 3"></sudoku-sidepanel-board>

    <sudoku-sidepanel-board
        [active]="activeSidepanelIndex === 2"
        [board]="board3"
        [level]="level"
        [boardRegistryIndex]="boardRegistryIndex + 6"></sudoku-sidepanel-board>
</div>
