<div *ngIf="level !== undefined && undefined !== boardRegistryIndex" class="pt-5">
    <sudoku-sidepanel-board
        [board]="activeBoard"
        [level]="level"
        [boardRegistryIndex]="boardRegistryIndex"></sudoku-sidepanel-board>

    <sudoku-sidepanel-board
        [board]="activeBoard"
        [level]="level"
        [boardRegistryIndex]="boardRegistryIndex + 3"></sudoku-sidepanel-board>

    <sudoku-sidepanel-board
        [board]="activeBoard"
        [level]="level"
        [boardRegistryIndex]="boardRegistryIndex + 6"></sudoku-sidepanel-board>
</div>
