<div class="container-fluid">
	<div class="d-flex justify-content-center">
		<div class="col text-center mt-5">
            <span class="h1 mb-2">SuDoKu</span>
        </div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="col text-center text-white mt-5">
            <button
                class="btn btn-lg btn-primary shadow rounded"
                (click)="startGame()"
                type="button">Start Game</button>

        </div>
    </div>
	<div class="d-flex justify-content-center">
        <div class="col text-center text-white mt-5">
            <span class="h5 mt-5">Number of Levels</span>
        </div>
    </div>
	<div class="d-flex justify-content-center">
		<div class="col text-center text-white mt-1">
            <div class="btn-group btn-group-lg d-lg-inline-block">
                <button *ngFor="let num of [1, 2, 3]"
                    class="btn shadow"
                    [class.btn-success]="activeLevel === num"
                    [class.btn-info]="activeLevel !== num"
                    (click)="levelChange(num)"
                    [ngbTooltip]="getTooltipMsg(num)"
                    type="button">{{ num }}</button>
            </div>
        </div>
    </div>
</div>
